# Анализ открытых данных ФНС РФ

## 1. Данные о численности сотрудников

In [15]:
# импортируем необходимые библиотеки
import pandas as pd
import numpy as np
from pandas import ExcelWriter

# загружаем датасет полностью в память
datafile="./2018_people.pkl"
df=pd.read_pickle(datafile)

print ('start')
print (df.info (),df.describe())

print ('\n Всего людей: ',df.People.sum())
zero=df[df['People']==0]

print (zero.info (),zero.describe())
print ('prepare analysis')
non_zero=df[df['People']!=0]

print ('============ 01 REGION =============')
region_01=df[df['region']=='01']
print (region_01.head())

print ('============ one_man_army=============')
one_man_army=df[df['People']==1]
print (one_man_army.info ())

print ('============ man_10=============')
man_10=df[(df['People']>1)&(df['People']<=10)]
print (man_10.info ())


print ('============ man_100=============')
man_100=df[(df['People']>10)&(df['People']<=100)]
print (man_100.info ())

print ('============ man_1000=============')
man_1000=df[(df['People']>100)&(df['People']<=1000)]
print (man_1000.info ())

print ('============ man_10000=============')
man_10000=df[(df['People']>1000)&(df['People']<=10000)]
print (man_10000.info ())

print ('============ >man_10000=============')
man_10000_more=df[df['People']>10001]
print (man_10000_more.info ())

#print (non_zero.groupby('name')['num_workers'].nlargest(2))
top100=non_zero.nlargest(100,'People')
print (top100)
top_region=non_zero.groupby(['region'])['region','People'].agg([np.mean, np.std, np.min, np.max])


print (non_zero.groupby(['region'])['region','People'].agg([np.mean, np.std, np.min, np.max]))

# сохраняем все в единый файл в формате Excel

writer = ExcelWriter ('./top_workers_2018.xlsx')

# создаем листы

top100.to_excel(writer,'Top-100') # ТОП-100 копаний по численности
top_region.to_excel(writer,'Regions') # сводная информация по регионам

writer.save()

start
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2380191 entries, 0 to 2380190
Data columns (total 4 columns):
Company    object
INN        object
People     int64
region     object
dtypes: int64(1), object(3)
memory usage: 72.6+ MB
None              People
count  2.380191e+06
mean   8.749879e+00
std    6.804749e+01
min    0.000000e+00
25%    1.000000e+00
50%    1.000000e+00
75%    4.000000e+00
max    1.627600e+04

 Всего людей:  20826383
<class 'pandas.core.frame.DataFrame'>
Int64Index: 323302 entries, 2 to 2380186
Data columns (total 4 columns):
Company    323302 non-null object
INN        323302 non-null object
People     323302 non-null int64
region     323302 non-null object
dtypes: int64(1), object(3)
memory usage: 12.3+ MB
None          People
count  323302.0
mean        0.0
std         0.0
min         0.0
25%         0.0
50%         0.0
75%         0.0
max         0.0
prepare analysis
============ 01 REGION =============
                                                 Company         INN  People  \
2303     ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ВЕКА"  0105079368       1
3568      ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "АЙС"  0107025008       2
11951    ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ФАТИ"  0107030287       1
12727  ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ЭКОПАК"  0105072108      10
12990  ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "КАЛИ...  0105024270       8

      region
2303      01
3568      01
11951     01
12727     01
12990     01
============ one_man_army=============
<class 'pandas.core.frame.DataFrame'>
Int64Index: 991147 entries, 4 to 2380187
Data columns (total 4 columns):
Company    991147 non-null object
INN        991147 non-null object
People     991147 non-null int64
region     991147 non-null object
dtypes: int64(1), object(3)
memory usage: 37.8+ MB
None
============ man_10=============
<class 'pandas.core.frame.DataFrame'>
Int64Index: 777067 entries, 0 to 2380190
Data columns (total 4 columns):
Company    777067 non-null object
INN        777067 non-null object
People     777067 non-null int64
region     777067 non-null object
dtypes: int64(1), object(3)
memory usage: 29.6+ MB
None
============ man_100=============
<class 'pandas.core.frame.DataFrame'>
Int64Index: 263295 entries, 3 to 2380183
Data columns (total 4 columns):
Company    263295 non-null object
INN        263295 non-null object
People     263295 non-null int64
region     263295 non-null object
dtypes: int64(1), object(3)
memory usage: 10.0+ MB
None
============ man_1000=============
<class 'pandas.core.frame.DataFrame'>
Int64Index: 23926 entries, 50 to 2380169
Data columns (total 4 columns):
Company    23926 non-null object
INN        23926 non-null object
People     23926 non-null int64
region     23926 non-null object
dtypes: int64(1), object(3)
memory usage: 934.6+ KB
None
============ man_10000=============
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1442 entries, 511 to 2379125
Data columns (total 4 columns):
Company    1442 non-null object
INN        1442 non-null object
People     1442 non-null int64
region     1442 non-null object
dtypes: int64(1), object(3)
memory usage: 56.3+ KB
None
============ >man_10000=============
<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 376137 to 2289525
Data columns (total 4 columns):
Company    12 non-null object
INN        12 non-null object
People     12 non-null int64
region     12 non-null object
dtypes: int64(1), object(3)
memory usage: 480.0+ bytes
None
                                                   Company         INN  \
780613            АКЦИОНЕРНОЕ ОБЩЕСТВО "СВЯЗНОЙ ЛОГИСТИКА"  7703567318
1318848  ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ГАЗА...  8904075460
376137   ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "СИБИ...  7708119944
583374                 АКЦИОНЕРНОЕ ОБЩЕСТВО "ГРУППА "ИЛИМ"  7840346335
1480960          АКЦИОНЕРНОЕ ОБЩЕСТВО "ЭР-ТЕЛЕКОМ ХОЛДИНГ"  5902202276
2137669  ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ЭЛЬД...  7715641735
1833172  ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "СЕЛЬТА"  2310053662
1078485  ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "РУСС...  7709625414
434774   ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ОБЪЕ...  7445033042
2289525              АКЦИОНЕРНОЕ ОБЩЕСТВО "МЕГАФОН РИТЕЙЛ"  7825695758
2237127                   АКЦИОНЕРНОЕ ОБЩЕСТВО "РТ-ОХРАНА"  7704759968
1591623   ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "СГК-2"  7810443268
2153574  ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "АГРО...  7714211088
172305   ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "СПАР...  5258056945
647129   ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "РН-П...  6316130984
2173128  ПУБЛИЧНОЕ АКЦИОНЕРНОЕ ОБЩЕСТВО "ГАЗПРОМ ГАЗОРА...  0278030985
36189    АКЦИОНЕРНОЕ ОБЩЕСТВО "ПРОИЗВОДСТВЕННАЯ ФИРМА "...  6663003127
1898949  ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "АГРО...  7424030241
1729047  ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ТД "...  7804526950
755044   ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ТЕПЛ...  7733667768
2075122       АКЦИОНЕРНОЕ ОБЩЕСТВО "СБЕРБАНК - ТЕХНОЛОГИИ"  7736632467
470116   ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ИНТЕ...  7743242330
401791   ПУБЛИЧНОЕ АКЦИОНЕРНОЕ ОБЩЕСТВО "ГАЗПРОМ ГАЗОРА...  6163000368
2256260  АКЦИОНЕРНОЕ ОБЩЕСТВО "МОСКОВСКИЙ ЦЕНТР НОВЫХ Т...  7704137364
1572687  ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "КОМП...  8608055054
597170   ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "СБЕР...  7736663049
499972   АКЦИОНЕРНОЕ ОБЩЕСТВО "ЕРМАКОВСКОЕ ПРЕДПРИЯТИЕ ...  8603093264
2311549  ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ТРЕС...  6916013425
505358   ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "АЛЬФ...  6234131659
2085632  ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ГАЗП...  7702211710
...                                                    ...         ...
16182    ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "СИСТ...  3811126641
1929945      АКЦИОНЕРНОЕ ОБЩЕСТВО "ГРУППА КОМПАНИЙ "МЕДСИ"  7710641442
1635080  ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "КВАР...  7728549952
43939    ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "КОМП...  3808069986
1135181  ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ОХРА...  7701859844
1364460  ОТКРЫТОЕ АКЦИОНЕРНОЕ ОБЩЕСТВО "ВОЛГОГРАДНЕФТЕМАШ"  3446003396
1535048  АКЦИОНЕРНОЕ ОБЩЕСТВО "ЧЕРКИЗОВСКИЙ МЯСОПЕРЕРАБ...  7718013714
160161   ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ТД "С...  6679104850
1720322  ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ЗАПС...  7202083210
1899881  ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "МЕХА...  7455025700
99434    ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ  "КОМ...  7801499923
2163069  ОТКРЫТОЕ АКЦИОНЕРНОЕ ОБЩЕСТВО "ГАЗПРОМ ГАЗОРАС...  3664000885
1690234  АКЦИОНЕРНОЕ ОБЩЕСТВО "ГАЗПРОМ ГАЗОРАСПРЕДЕЛЕНИ...  5610010369
1129224  ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ШКОЛ...  7728095201
1440334  ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ДОМО...  5009096948
573305   ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ГАЗП...  3455052505
801378                   АКЦИОНЕРНОЕ ОБЩЕСТВО "ФРЕЙТ ЛИНК"  7728142525
2347174  ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ  "КОМ...  7605016030
2242350  АКЦИОНЕРНОЕ ОБЩЕСТВО "ИНЖИНИРИНГОВАЯ КОМПАНИЯ ...  7817311895
818911              АКЦИОНЕРНОЕ ОБЩЕСТВО "ТРАНСПНЕВМАТИКА"  5224001190
1575426  ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ТРАН...  6952010010
1828955     ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ЛЕВ"  6670119690
1440973  ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "БЕТА-М"  7715437850
722686   ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ТИТА...  7709956455
1240951  ОТКРЫТОЕ АКЦИОНЕРНОЕ ОБЩЕСТВО "ВЫСОКОГОРСКИЙ Г...  6623000708
1697506                     АКЦИОНЕРНОЕ ОБЩЕСТВО "ДПД РУС"  7713215523
1622326                    АКЦИОНЕРНОЕ ОБЩЕСТВО "ГРИНАТОМ"  7706729736
648675   ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "МОСК...  7713213445
478764   ПУБЛИЧНОЕ АКЦИОНЕРНОЕ ОБЩЕСТВО "ГЕОТЕК СЕЙСМОР...  7203215460
1447587  ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ДИМИ...  7329007764

         People region
780613    16276     77
1318848   16112     89
376137    15334     77
583374    14963     78
1480960   14737     59
2137669   13620     77
1833172   13007     23
1078485   12680     77
434774    12609     74
2289525   11360     78
2237127   10774     77
1591623   10040     78
2153574    7966     77
172305     7816     52
647129     7673     63
2173128    7540     02
36189      7312     66
1898949    7093     74
1729047    7012     78
755044     6493     77
2075122    6351     77
470116     6273     77
401791     6264     61
2256260    6262     77
1572687    6144     86
597170     6135     77
499972     5838     86
2311549    5801     69
505358     5771     62
2085632    5616     77
...         ...    ...
16182      4331     38
1929945    4310     77
1635080    4261     77
43939      4256     38
1135181    4234     77
1364460    4202     34
1535048    4189     77
160161     4108     66
1720322    4090     72
1899881    4040     74
99434      3984     78
2163069    3962     36
1690234    3888     56
1129224    3883     77
1440334    3793     50
573305     3790     34
801378     3762     77
2347174    3761     76
2242350    3755     78
818911     3733     52
1575426    3727     69
1828955    3726     66
1440973    3720     77
722686     3708     77
1240951    3708     66
1697506    3700     77
1622326    3645     77
648675     3617     77
478764     3606     72
1447587    3600     73

[100 rows x 4 columns]

           People
             mean         std amin   amax
region
01       8.474775   25.662134    1    462
02      10.986104   79.272152    1   7540
03       6.545249   35.246120    1   1674
04       8.456997   31.346153    1    597
05      11.202406   67.122566    1   3553
06       4.746167   28.062170    1    833
07       7.541952   35.238257    1   1599
08       7.712932   35.111517    1    675
09      10.550046   47.019719    1    863
10       9.071897   45.909816    1   2833
11      14.078561   81.461371    1   2789
12      12.244215   92.514930    1   5200
13      16.655864   98.855241    1   2993
14      10.984211   68.059061    1   2483
15       8.040671   37.270253    1   1517
16      10.759580   68.308236    1   4806
17      11.462516   60.223731    1   1221
18      12.175643   64.297545    1   3079
19      10.380599   41.777517    1   1047
20       9.116246   66.137476    1   2331
21      11.570861   70.058243    1   3493
22      10.375205   57.850931    1   2811
23      10.096723   77.529117    1  13007
24      10.086278   66.920410    1   3518
25       8.090656   47.084663    1   2848
26      11.367690   62.499344    1   4668
27       9.513194   48.980974    1   3055
28      11.906254   60.987542    1   1986
29      12.169490   70.707927    1   4766
30       8.329979   34.712234    1   1513
...           ...         ...  ...    ...
64      11.181764   66.010592    1   3255
65      12.488278   52.050907    1   1379
66       9.782402   68.429312    1   7312
67       9.056099   45.270856    1   1732
68      12.801026   87.346070    1   4657
69      11.662296   75.044381    1   5801
70       9.101252   57.726323    1   3274
71       9.943563   55.448192    1   2948
72       8.933723   63.657556    1   4090
73      10.106239   57.046341    1   3600
74       9.564026   91.972151    1  12609
75      11.196821   52.082888    1   2270
76      10.587897   62.692032    1   3761
77       9.868549   87.590285    1  16276
78       8.437069   74.602391    1  14963
79      10.716088   37.930676    1    820
80      11.049689   35.930280    1    419
81      15.460674   24.286667    1    159
82      35.535714   92.896817    1    672
83      31.655172   65.194366    1    302
84      34.232143   90.682261    1    534
85       8.912621   23.130112    1    211
86      18.282572  120.371090    1   6144
87      23.896552   93.858042    1   1165
88      51.120000  153.395545    1    647
89      27.314561  284.826395    1  16112
91       9.888426   58.184949    1   2870
92       7.380672   30.974427    1    799
97       4.955567   34.844453    1   3502
99       6.214724   27.179954    1    342

[93 rows x 4 columns]